.DS_Store
/.cache/
/target
.build/
/public/
/extrator/dist/
/extrator/node_modules/
/coverage/
/sources/*/public/
/sources/*/package.aix
/sources/*/target/
/sources/*/node_modules/
/sources/*/playwright-report/
/sources/*/test-results/
/token-server/wireguard/wg0.conf
